@model IEnumerable<WebLaba7.Models.Receipt>


@{
    ViewBag.Title = "Receipt List";
    Layout = "_Layout";
}

<h2>Receipt List</h2>
<div class="text-right">
    <a asp-controller="Receipt" asp-action="Create" class="btn btn-primary">Create new receipt</a>
</div>

@if (Model.Count() > 0)
{
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Medicine Name
            </th>
            
        </tr>
        </thead>
        <tbody>
        @foreach (var receipt in Model)
        {
            <tr>
                <td>@receipt.ClientFirstName</td>
                <td>@receipt.ClientLastName</td>
                <td>@receipt.ClientPhoneNumber</td>
                <td>@receipt.MedicineId</td>>
                <td>
                    <a asp-controller="Receipt" asp-action="Delete" asp-route-Id="@receipt.Id" class="btn btn-danger mx-1">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>There is no receipts.</p>
}
